.form-radio {
    $color: #a6a9b6;
    $activeColor: #f8cc00;
    display: flex;
    .checked-icon {
        flex-shrink: 0;
        margin-right: 8px;
        margin-top: 2px;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        border: 1px solid $color;
        background-color: #fff;
        position: relative;
        transition: 0.4s ease;
        &:before {
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            top: 4px;
            left: 4px;
            background-color: transparent;
            border-radius: 50%;
            transition: 0.4s ease;
        }
    }
    &.radio-checked {
        .checked-icon {
            border-color: $activeColor;
            background-color: $activeColor;
            &:before {
                background-color: #000;
            }
        }
    }
    &.radio-disabled {
        opacity: 0.7;
    }
}
