@import '~static/css/variables';

.switch-style-button {
    $size: 22px;
    position: relative;
    display: inline-block;
    width: $size * 2.2;
    padding: 1px;
    border-radius: 24px;
    height: $size;
    background-color: #eee;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;
    outline: none;
    margin: 0;
    border: 0;
    line-height: 22px;

    .switch-children & {
        margin-right: 10px;
    }

    .switch-disabled & {
        cursor: not-allowed;
    }

    &:before {
        content: '';
        display: block;
        border-radius: $size + 2px;
        height: 100%;
        background-color: #dfe7ed;
        transform: scale(1, 1);
        transition: all 0.3s ease;

        .switch-disabled & {
            opacity: 0.4;
        }

        .switch-active &,
        .switch-active.switch-style-primary & {
            background-color: $brand-primary;
        }
        .switch-active.switch-style-warning & {
            background-color: $brand-warning;
        }
        .switch-active.switch-style-info & {
            background-color: $brand-info;
        }
        .switch-active.switch-style-success & {
            background-color: $brand-success;
        }
        .switch-active.switch-style-danger & {
            background-color: $brand-danger;
        }
    }

    &:after {
        content: '';
        position: absolute;
        top: 2px;
        left: 3px;
        width: $size - 4;
        height: $size - 4;
        border-radius: $size / 2;
        background-color: #fff;
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.08);
        transform: translateX(0);
        transition: all 0.3s ease;

        .switch-active & {
            transform: translateX(-100%);
            left: 100%;
            margin-left: -3px;
        }
    }

    &:active {
        &:after {
            :not(.switch-active) & {
                width: $size * 1.5;
                transition: width 1s ease;
            }
        }
    }

    .switch:checked ~ label:after {
        -webkit-transform: translateX(9px);
    }

    .switch:checked ~ label:before {
        background-color: green;
    }
}

.switch-inline {
    display: inline-block;
}

.switch-children {
    display: flex;
    .switch-label {
        flex: 1;
    }
}
