.loading-root {
    .progress-bar.active {
        animation-duration: 0.5s;
    }

    .progress {
        border-radius: 10px;
    }
}

.loading-type-circle {
    text-align: center;
    .loading-inner {
        margin: 5px 0;
    }
    .glyphicon {
        font-size: 20px;
        color: #ffe100;
        animation: loading-rotate 3s linear infinite;
        vertical-align: middle;
    }
}

@keyframes loading-rotate {
    0% {
        transform: rotate(0);
    }
    25%,
    50% {
        transform: rotate(180deg);
    }
    75%,
    100% {
        transform: rotate(360deg);
    }
}
