.toast-root {
    position: relative;
    z-index: 1500;
}

.toast-body {
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    border-radius: 6px;
    padding: 10px;
    min-width: 150px;
    max-width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
}

.toast-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.toast-backdrop-static {
    background-color: rgba(0, 0, 0, 0.1);
}

.toast-loading-root {
    min-height: 80px;
    top: 50%;
}
