.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: $font-size-small;
    font-weight: $badge-font-weight;
    color: $badge-color;
    line-height: $badge-line-height;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    background-color: $badge-bg;
    border-radius: $badge-border-radius;

    // Empty badges collapse automatically (not available in IE8)
    &:empty {
        display: none;
    }

    // Quick fix for badges in buttons
    .btn & {
        position: relative;
        top: -1px;
    }

    .btn-xs &,
    .btn-group-xs > .btn & {
        top: 0;
        padding: 1px 5px;
    }
}

// Hover state, but only for links
a.badge {
    &:hover,
    &:focus {
        color: $badge-link-hover-color;
        text-decoration: none;
        cursor: pointer;
    }
}

@mixin badge-variant($type, $bg) {
    .badge-#{$type} {
        background-color: $bg;
        &[href] {
            &:hover,
            &:focus {
                background-color: darken($bg, 5%);
            }
        }
    }
    a:hover,
    a:focus {
        .badge-#{$type} {
            background-color: darken($bg, 5%);
        }
    }
}

@include badge-variant(info, $brand-info);
@include badge-variant(danger, $brand-danger);
@include badge-variant(warning, $brand-warning);
@include badge-variant(success, $brand-success);
@include badge-variant(primary, $brand-primary);
