html,
body,
#wrap {
    height: 100%;
}
html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

body {
    background: $body-bg;
    color: $gray-dark;
    line-height: $line-height-base;
    font-size: $font-size-base;
    font-family: $font-family-base;
}

// Links

a {
    color: $link-color;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

// Images

img {
    vertical-align: middle;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
    display: block;
    max-width: 100%; // Part 1: Set a maximum relative to the parent
    height: auto;
}

// Rounded corners
.img-rounded {
    border-radius: $border-radius-large;
}
