.first-app {
    .title {
        font-size: 20px;
        text-align: center;
    }
    p {
        font-size: 18px;
        border-left: 5px solid green;
        padding-left: 10px;
    }
    code {
        background-color: #e7e7e7;
        padding: 1px 3px;
    }
}
