.modal-dialog{
    width:300px;
    background:#fff;
    border-radius:5px;
    overflow:hidden;
    .modal-heading{
        padding:6px 8px;
        background:#eee;
    }
    .modal-body{
        padding:10px;
        min-height:50px;
    }
    .modal-footer{
        display:flex;
        justify-content:center;
        padding:10px;
        button{
            flex:1;
            margin:0 10px;
            max-width:100px;
        }
    }
}
