.btn-loading {
    position: relative;

    .loading-text {
        position: relative;
        z-index: 1;
    }
    > .progress {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .progress-bar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .progress-bar.active {
        animation-duration: 0.5s;
    }

    &:disabled {
        .progress {
            color: #888;
        }
    }

    &:active {
        .progress {
            opacity: 0.8;
        }
        .progress-bar.active {
            animation-play-state: paused;
        }
    }
}

// some fix
.btn-default {
    .progress-bar {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
