.modal-dialog-root {
    .modal-dialog {
        width: auto;
        max-width: 25rem;
        margin: 100px auto 0;
        padding: 0 30px;
    }

    .modal-content {
        border-radius: 1.3rem;
        border: 0;
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.5);
        padding: 1rem;
        color: #4f5364;
    }

    .modal-header {
        padding: 0 0 1rem;
        border-bottom: 0;
    }

    .modal-body {
        padding: 0 0 1rem;
    }

    .modal-footer {
        padding: 0 0.7rem;
        display: flex;
        justify-content: center;
        border-top: 0;

        > .btn {
            flex: 1 1 0;
        }

        > .btn + .btn {
            margin-left: 5%;
        }
    }
}
