.loading-root {
    display: block;
    text-align: center;
    margin: 0.5em;
    &.loading-with-tip {
        .spinner-self {
            display: block;
            margin: 0 auto 0.3rem;
        }
    }
    &.loading-inline {
        display: inline-block;
    }
}
