.sw-reload-notification {
    animation: sw-slideDown 1s ease;
    height: 40px;
    display: flex;
    background-color: #DB5600;
    padding: 0 10px;
    color: #fff;
    position: relative;
    z-index: 100000;
    overflow: hidden;
    font-size: 13px;
    align-items: center;
    p {
        flex: 1;
    }
    .sw-reload {
        border: 0;
        padding: 0;
        margin: 0;
        background: #39b54a;
        color: #fff;
        height: 30px;
        padding: 0 10px;
    }
}

@keyframes sw-slideDown {
    from {
        height: 0;
    }

    to {
        height: 40px;
    }
}
