.date-picker-root {
    position: relative;
    .glyphicon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1;
        color: #a6adbc;
        transition: color 0.4s ease;
        pointer-events: none;
    }
    .form-control[readonly]:not([disabled]) {
        background-color: #fff;
    }
    .DayPicker {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        font-size: 14px;
        z-index: 100;
    }
    .DayPicker-wrapper {
        outline: none;
    }
    .DayPicker-Day {
        padding: 10px;
        outline: none;
    }
    .DayPicker-Month {
        width: 280px;
    }
    .daypicker-year-month {
        display: table-caption;
        margin-right: 50px;
        .form-control {
            float: left;
            width: 45%;
            & + .form-control {
                margin-left: 5%;
            }
        }
    }
}

.date-picker-active {
    input.form-control:not([disabled]) {
        border-color: #ffe100;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 225, 0, 0.6);
    }
    .glyphicon {
        color: #ffe100;
    }
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
    background-color: #ffe100;
    color: #555;
}
.DayPicker:not(.DayPicker--interactionDisabled)
    .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: lighten(#ffe100, 40%);
}
.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background-color: lighten(#ffe100, 10%);
}
