@import 'static/css/variables';

.btn-loading {
    position: relative;

    > .loading-root {
        display: inline-block;
        margin: 0 5px;
        position: relative;
        top: -3px;
        .loading-inner {
            margin: 0;
            padding: 0;
        }
        .glyphicon {
            color: inherit;
            font-size: inherit;
        }
    }
}

.btn-round {
    border-radius: 20px;
    min-width: 80px;
}

.btn-ghost {
    &[disabled],
    &.disabled {
        &:hover,
        &:focus {
            background-color: inherit;
            border-color: inherit;
        }
    }
}

.btn-sm,
.btn-group-sm > .btn {
    font-size: 13px;
}

.btn-lg,
.btn-group-lg > .btn {
    font-size: 16px;
}

@each $name,
    $color
        in (
            default: $btn-default-color,
            primary: $btn-primary-bg,
            info: $btn-info-bg,
            warning: $btn-warning-bg,
            success: $btn-success-bg,
            danger: $btn-danger-bg
        )
{
    .btn-ghost.btn-#{$name} {
        color: $color;
        border-color: if($name == default, $btn-default-border, $color);
        background-color: transparent;

        &:focus,
        &:active,
        &:hover {
            &:not(.disabled):not([disabled]) {
                background-color: rgba(0, 0, 0, 0.1);
                border-color: inherit;
                color: darken($color, 20%);
                box-shadow: none;
            }
        }
    }
}
