@import '~static/css/variables';

.big-icon-root {
    color: #fff;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

@each $name,
    $color
        in (
            primary: $brand-primary,
            info: $brand-info,
            warning: $brand-warning,
            danger: $brand-danger,
            success: $brand-success,
            default: #ccc
        )
{
    .big-icon-type-#{$name} {
        background-color: $color;
    }
}

.big-icon-type-primary {
    color: #555;
}

@each $name, $size in (lg: $font-size-h2, md: $font-size-h3, sm: $font-size-h4, xs: 10px) {
    .big-icon-size-#{$name} {
        width: $size * 2;
        height: $size * 2;
        font-size: $size;
    }
}
