.gloabl-error-toast {
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    top: 30%;
    left: 50%;
    max-width: 80%;
    transform: translateX(-50%);
    z-index: 2000;
    text-align: center;
}
.gloabl-loading-toast {
    position: fixed;
    background: transparent;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1999;
    > .loading-container {
        background: rgba(0, 0, 0, 0.8);
        max-width: 200px;
        min-width: 150px;
        padding: 15px 10px;
        position: absolute;
        left: 50%;
        top: 20%;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        .circle {
            background-color: #000;
        }
        .loading-text {
            color: #fff;
        }
    }
}
