<!doctype html>
<html lang="en">
     <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
        <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />
        <title>About us - React Project</title>
    </head>
    <body>
        <div id="wrap" class="wrapper">
           <header class="site-header">
                <div class="main clearfix">
                    <h1 class="logo"><img src="/images/logo.jpg" alt="" />React APP</h1>
                    <nav class="menu">
                        <a href="/">首页</a>
                        <a href="/about.html">关于</a>
                    </nav>
                </div>
            </header>
            <div class="site-container">
                <div class="main">
                    <h3 class="page-title">关于我们</h3>
                    <p>这里是另一个页面，在这个页面，将会演示react示例：</p>
                </div>
                <div id="react-root"></div>
            </div>

            ${require('./layout/footer.html')}
        </div>
    </body>
</html>

